# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter notebooks
.ipynb_checkpoints/

# Virtual environments
.env
.venv
env/
venv/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Results / outputs
results/*.png
results/*.pdf
results/*.csv